$main-night-color: #2c2c54;
$main-night-color-2: #40407a;
$main-night-color-3: #474787;
$main-night-color-4: #706fd3;

$main-color: #84817a;
$main-color-2: #aaa69d;
$main-color-3: #d1ccc0;
$main-color-4: #f7f1e3;
